<%- include partials/header.ejs %>

<body>

    <%- include partials/navbar.ejs %>

    <div class="container">
        <h1>Realizar Pergunta</h1>
        <hr>
        <form method="POST" action="/salvarpergunta">
            <h2>Título</h2>
            <input type="text" placeholder="Título" class="titulo" name="titulo">

            <h2>Descrição</h2>
            <textarea name="descricao" id="" cols="30" rows="10">
            </textarea>

            <button>Perguntar</button>

        </form>
    </div>
</body>

<%- include partials/footer.ejs %>